h1= title
p Welcome to #{title}

- each company in companies
  .container
    .name
      a(href=company.url)= company.name
    .description= company.description

    - if (company.apprentices.length != 0)
      .apprentices Former #{company.name} apprentice(s):
      - each apprentice in company.apprentices
        li= apprentice
